.primary {
  color: $primary;
}

.bgprimary {
  background: $primary;
}

.secondary {
  color: $secondary;
}

.light {
  color: $light;
}

.bgLight {
  background: $light;
}

.dark {
  color: $dark
}

.bgDark {
  background: $dark;
}

