@font-face {
  font-family: Lemon Tuesday;
  src: url('../../assets/fonts/Lemon Tuesday.otf');
}

@font-face {
  font-family: Roboto Mono;
  src: url('../../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}