@font-face {
  font-family: Lemon Tuesday;
  src: url('../../assets/Lemon Tuesday.otf');
}

@font-face {
  font-family: Roboto Mono;
  src: url('../../assets/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('../../assets/Comfortaa-VariableFont_wght.ttf');
}

.title {
  font-size: 5em;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
}

.subtitle1 {
  font-family: 'Lemon Tuesday', sans-serif;
  font-size: 3em;
}

.subtitle2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
}

.body {
  font-family: Comfortaa, sans-serif;
  text-align: justify;
  margin: 50px;
  color: $light;
}