.fullPage {
  height: 100vh;
}

.halfPage {
  height: 50vh;
}

.vert {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.horiz {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.maxFullHeight {
  max-height: 100%;
}

.maxFullWidth {
  max-width: 100%;
}

.minHalfHeight {
  min-height: 50%;
}

.minHalfWidth {
  min-width: 50%;
}