.portfolio {
  padding-top: 105px;
}

.portfolioContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.projectThumb {
  border: 2px solid $light;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 30%;
  min-width: 324px;
  margin: 20px;
  > * {
    padding: 5px;
  }
}

.thumbTitle {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2em;
  text-align: center;
  color: $primary;
  padding: 5px;
}

.thumbTechContainer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.thumbTechImage {
  height: 40px;
}

.thumbIntro {
  font-family: Comfortaa, sans-serif;
  text-align: center;
  color: $light;
  height: 40px;
}

.thumbImage {
  height: 200px;
  width: 100%;
  border: 5px solid $light;
  border-radius: 5px;
  object-fit: contain;
  position: center;
}

.thumbButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.thumbButton {
  font-size: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}