.project {
  padding-top: 105px;
}

.projectTitle {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  text-align: center;
  color: $primary;
}

.projectIntro {
  font-family: Comfortaa, sans-serif;
  text-align: center;
  color: $light;
  grid-area: intro;
}

.projectSummary {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'link intro tech';
  margin: 10px;
}

.projectLink {
  grid-area: link;
  margin: auto;
  border: 2px solid $light;
  border-radius: 5px;
  padding: 5px;
  > a {
    font-family: Comfortaa, sans-serif;
    font-size: 1.5em;
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: $light;
    }
  }
}

.techContainer {
  height: 50px;
  grid-area: tech;
  display: flex;
  justify-content: space-around;
}

.techIcon {
  height: 40px;
}

.projectImageContainer {
  display: flex;
}

.projectImageWrapper {
  flex-grow: 1;
  flex-shrink: 1;
}

.projectImage {
  z-index: -1;
  max-height: 100%;
  max-width: 100%;
  border: 5px solid $light;
  border-radius: 5px;
  &.image1 {
    transform: rotate(-5deg);
  }
  &.image2 {
    transform: rotate(0deg);
  }
  &.image3 {
    transform: rotate(5deg);
  }
}