.project {
  padding-top: 105px;
  margin-left: 50px;
  margin-right: 50px;
}

.projectTitle {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  text-align: center;
  color: $primary;
}

.projectIntro {
  font-family: Comfortaa, sans-serif;
  text-align: center;
  color: $light;
  grid-area: intro;
}

.projectSummary {
  display: grid;
  grid-template-areas: 'link tech blank';
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

.buttonContainer {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.projectLink {
  grid-area: link;
  padding: 5px;
  &:hover {
    > a {
      color: $light;
    }
  }
  > a {
    font-family: Comfortaa, sans-serif;
    font-size: 1.5em;
    color: $primary;
    text-decoration: none;
  }
}

.techContainer {
  grid-area: tech;
  height: 50px;
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.techImage {
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.projectImageContainer {
  display: flex;
  max-height: 250px;
}

.projectImageWrapper {
  flex-grow: 1;
  flex-shrink: 1;
}

.projectImage {
  z-index: -1;
  max-height: 100%;
  max-width: 100%;
  border: 5px solid $light;
  border-radius: 5px;
  &.image1 {
    transform: rotate(-5deg);
  }
  &.image2 {
    transform: rotate(0deg);
  }
  &.image3 {
    transform: rotate(5deg);
  }
}