.mainTitle {
  font-size: 3em;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  align-self: center;
}

.sectionTitle {
  font-family: 'Lemon Tuesday', sans-serif;
  font-size: 3em;
  color: $primary;
  text-align: center;
}

.body {
  font-family: Comfortaa, sans-serif;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  color: $light;
  line-height: 1.5;
}

.aboutText {
  min-width: 50%;
  max-width: 400px;
}

.projectText {
  min-width: 50%;
  max-width: 400px;
}

.link {
  color: $primary;
  text-decoration: underline;
  &:hover {
    color: $light;
    cursor: pointer;
  }
}