@import "vars";

@import "colours";
@import 'fonts';

@import "core";
@import "layout";
@import "components";
@import "text";
@import "animations";
@import "intro";
@import "about";
@import "portfolio";
@import "project";

/*JS overrides*/

.intro {
	display: flex;
}

.about {
	display: none;
}

.portfolio {
	display: none;
}

.project {
	display: none;
}