* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: RGB(53,54,58);
	padding: 0;
	margin: 0;
 	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-transform: uppercase;
}

#landing {
	height: 100%;
}

#splash {
	background-color: RGB(53,54,58);
	position: absolute;
	z-index: 4;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#splash video {
	min-height: 95%;
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	animation: fadeout 4s;
	opacity: 0;
	background-color: RGB(53,54,58);
	z-index: 1;
}

@keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadein {
	0% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 1;}
}

#intro {
	position: relative;
	z-index: 3;
	background-color: RGBA(53,54,58,1);
	height: 95vh;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
		". a ."
		". b ."
		". c .";
	z-index: 999;
	animation: fadein 10s;
}

#title {
	color: #03bafc;
    font-weight: 300;
    text-transform: uppercase;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	justify-self: center;
	grid-area: a;
	text-align: center;
}

#subtitle {
	color: white;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	grid-area: b;
	text-align: center;
}

.quote {
	color: #03bafc;
	font-size: 25px;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	grid-area: c;
	text-align: center;
	padding-bottom: 10px;
}

.author {
	color: white;
	font-size: 20px;
}

#menubar {
	display: flex;
	height: 5vh;
	background-color: #333333;
	justify-content: space-around;
	align-items: center;
	padding-right: 30%;
	padding-left: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	top: 0;
	z-index: 999;
}

#menubar a {
    display: block;
    font-size: 16px;
    padding: 14px;
	outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
	color: white;
	text-decoration: none;
    letter-spacing: .6px;
	white-space: nowrap;
}

@keyframes hover {
	0% {color: white;
		border-color: white;}
	50% {color: #03bafc;
		border-color: #03bafc;}
	100% {color: white;
		border-color: white;}
}

#menubar a:hover {
	animation: hover 2s infinite;
}

#about {
	position: relative;
	z-index: 2;
	height: 95%;
	background-color: RGB(53,54,58);
	padding: 10px;
}

.aboutimages {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.aboutimages div {
	margin: 0px;
	padding: 10px;
	flex-grow: 1;
	flex-basis: 0;
	max-height: 25vw;
	overflow: hidden;
}

.aboutimages div img {
	height: 100%;
}

#about p {
	margin: 20px;
	margin-bottom: 0px;
	color: white;
	background-color: RGB(53,54,58);
}

#projects {
	position: relative;
	z-index: 1;
	height: 95%;
	width: 100%;
	background-color: RGB(53,54,58);
	counter-reset: projects;
}

.carousel {
    width: auto;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: hidden;
	background-color: RGB(53,54,58);
}

.projectsholder {
    display: flex;
	width: 3200px;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.project {
	float: left;
    margin: 10px;
    padding: 0px;
    position: relative;
	height: 400px;
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectlink {
    position: absolute;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 400px;
	height: 300px;
	margin: auto;
	outline: none;
	background-color: #03bafc;
	opacity: 0;
	transition: opacity 1s;
	text-decoration: none;
}

.linktext {
    font-size: 40px;
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
	color: white;
    letter-spacing: .6px;
}

.linktext::after {
	counter-increment: projects;
	content: ' Project: ' counter(projects);
}

.project:hover .projectlink {
	opacity: 0.8;
}

.projectimage {
	float: left;
    margin: 10px;
    padding: 0px;
    position: relative;
	height: 400px;
	width: 933px;
	flex-basis: 0;
	flex-grow: 1;
}

#projectlink1:target ~ .projectsholder {
    left: 0px;
}

#projectlink2:target ~ .projectsholder {
    left: -800px;
}

#projectlink3:target ~ .projectsholder {
    left: -1600px;
}

#projectlink4:target ~ .projectsholder {
    left: -2400px;
}

#projectlink5:target ~ .projectsholder {
    left: -3200px;
}

.carouselbuttons {
	text-align: center;
    position: relative;
    top: -20px;
}

.carouselaction {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #03bafc;
}

#contact {
	background-color: #333333;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: 0;
}

#contact > div {
	padding: 20px;
	border: 2px solid #03bafc;
	margin: 20px;
	outline: none;
	font-family: sans-serif;
    font-size: 16px;
	color: white;
    letter-spacing: .6px;
	white-space: wrap;
	overflow: hidden;
	flex-grow: 1;
	min-height: 300px;
}

#contact a {
    text-decoration: inherit;
    color: inherit;
}

#contact > div:hover {
	animation: hover 2s infinite;
}

#contact .image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 10px;
}

.phone, .email {
	min-width: 400px;
	flex-grow: 2;
	flex-basis: 20%;
}

.github, .linkedin {
	min-width: 400px;
	flex-grow: 1;
	flex-basis: 10%;
}

.phone img, .email img {
	width: 100px;
	transition: width 1s, transform 1s;
}

.phone:hover img, .email:hover img {
	width: 140px;
	transform: rotate(-360deg);
}

.github img, .linkedin img {
	width: 100px;
	margin: auto;
	transition: width 1s;
}

.github:hover img, .linkedin:hover img {
	width: 120px;
}

.title {
	font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
	margin-bottom: 10px;
}

.value {
	font-size: 20px;
	overflow-wrap: break-word;
}