* {
	box-sizing: border-box;
}

/*Sections*/

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #35363A;
}

/*Fonts*/

/*https://www.dafont.com/lemon-tuesday.font*/
@font-face {
	font-family: Lemon Tuesday;
	src: url('assets/Lemon Tuesday.otf');
}

@font-face {
	font-family: Roboto Mono;
	src: url('assets/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
	font-family: Comfortaa;
	src: url('assets/Comfortaa-VariableFont_wght.ttf');
}

/*Containers*/

.pg {
	height: 100vh;
}

.vert {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.horiz {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Text*/

.title {
	font-size: 5em;
	font-family: "Roboto Mono", sans-serif;
	text-align: center;
}

.subtitle {
	font-family: "Lemon Tuesday", sans-serif;
	font-size: 3em;
}

.body {
	font-family: Comfortaa, sans-serif;
	text-align: justify;
	margin: 50px;
}

/*Colors*/

.color1 {
	color: #03bafc
}

.bgcolor1 {
	color: #03bafc
}

.color2 {
	color: #FFFFFF
}

.bgcolor2 {
	color: #FFFFFF;
}

/*Sizes*/

.fullheight {
	height: 100%
}

/*Assets*/

.cursor {
	animation: blink 1s steps(2, start) infinite;
}

.fade {
	opacity: 0;
	animation: fadein 1s forwards ease-in 2200ms;
}

.button1 {
	background: #35363A;
	color: #FFFFFF;
	border: none;
}

.button1:hover,
.button1:focus {
	background: #03bafc;
	color: #35363A;
	border: none;
}

.button2 {
	background: #35363A;
	color: #03bafc;
	border: none;
}

.button2:hover,
.button2:focus {
	background: #FFFFFF;
	color: #35363A;
	border: none;
}

button:active {
	transform: scale(0.90);
}

button {
	font-family: Comfortaa, sans-serif;
	background: none;
	outline: none;
	border: none;
	display: inline-block;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	font-size: 2rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out,
				color 250ms ease-in-out,
				transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.logo {

}

.largeIcon {
	margin: 10px;
	font-size: 50px;
}

.image {
	width: 100%;
	height: 100%;
	background-image: url('media/Profile photo (B&W).png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/*Animation*/

@keyframes blink {
	to {visibility: hidden}
}

@keyframes fadein {
	from {opacity: 0}
	to {opacity: 100}
}

/*JS overrides*/

.intro {
	display: flex;
}

.about {
	display: none;
}

.portfolio {
	display: none;
}