* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: RGB(53,54,58);
	padding: 0;
	margin: 0;
 	font-family: 'Montserrat', sans-serif;
	color: white;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

header > div {
	display: inline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-transform: uppercase;
}

#projects {
	height: 95%;
	width: 100%;
	counter-reset: projects;
}

.projectrow {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	margin: 20px;
}

.projectrow:nth-child(even) {
	flex-direction: row-reverse;
}

.projectintro {
	margin: 20px;
}

.projectlink {
	border: 2px solid #03bafc;
	margin: 20px;
	text-align: center;
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectimage {
	float: left;
    margin: 10px;
    padding: 0px;
    position: relative;
	height: 25vw;
	width: auto;
	flex-basis: 0;
	flex-grow: 1;
}

.projectintro::before {
	counter-increment: projects;
	
	content: 'Project ' counter(projects) '\a\a';
	white-space: pre;
	font-size: 20px;
	font-weight: bold;
}

.projectlink {
	flex-grow: 1;
	flex-basis: 50%;
}

.projectintro {
	flex-basis: 25%;
	flex-grow: 1;
}