{{#projects}}
    <article class='projectThumb vert'>
        <div class='vert fullHeight fullWidth'>
            <span class='thumbTitle'>{{ name }}</span>
            <div class='thumbTechContainer fullWidth'>
                {{#tech}}
                    <img class='thumbTechImage' src='{{ path }}' alt='{{ title }}' title='{{ title }}'>
                {{/tech}}
            </div>
            <div class='thumbIntroContainer'>
                <span class='thumbIntro'>{{ intro }}</span>
            </div>
            <div class='thumbImageContainer'>
                <img class='thumbImage' src = '{{ images.0.path }}' alt=''>
            </div>
            <span class='thumbButtons fullWidth'>
                {{#primaryLink}}
                    <button class='thumbButton button1 load' name='{{ name }}'>view project</button>
                {{/primaryLink}}
                <button class='thumbButton button2 projectDetails' name='{{ name }}'>more details</button>
            <span>
        </div>
    </article>
{{/projects}}