{{#projects}}
    <article class='projectThumb vert'>
        <div class='vert fullHeight fullWidth'>
            <span class='thumbTitle'>{{ name }}</span>
            <span class='thumbIntro'>{{ intro }}</span>
            <span class='thumbTech'>
                {{#tech}}

                {{/tech}}
            </span>
            <div class='thumbImageContainer'>
                <img class='thumbImage' src = '{{ images.0.path }}' alt=''>
            </div>
            <span class='thumbButtons'>
                <button class='thumbButton button1 load'>View project</button>
                <button class='thumbButton button2 details'>More details</button>
            <span>
        </div>
    </article>
{{/projects}}