<article class='vert fullHeight fullWidth'>
    <section class='horiz fullWidth'>
        <div class='vert minHalfHeight fullWidth'>
            <span class='projectTitle'>
                project: {{ name }}
            </span>
            <div class='projectSummary fullWidth'>
                {{#primaryLink}}
                    <div class='buttonContainer projectLink'>
                        <button class='link'>
                            <a href='{{ primaryLink }}' target='_blank'><span class='fa fa-play'></span> view project</a>
                        </button>
                    </div>
                {{/primaryLink}}
                <div class='techContainer'>
                    {{#tech}}
                        <img class='techImage' src='{{ path }}' alt='{{ title }}' title='{{ title }}'>
                    {{/tech}}
                </div>
                {{#secondaryLink}}
                    <div class='buttonContainer repoLink'>
                        <button class='link'>
                            <a href='{{ secondaryLink }}' target='_blank'><span class='fa fa-play'></span> {{ secondaryLinkText }}</a>
                        </button>
                        {{#tertiaryLink}}
                            <button class='link'>
                                <a href='{{ tertiaryLink }}' target='_blank'><span class='fa fa-play'></span> {{ tertiaryLinkText }}</a>
                            </button>
                        {{/tertiaryLink}}
                    </div>
                {{/secondaryLink}}
            </div>
        </div>
    </section>
    <section class='horiz fullWidth'>
        <div class='projectImageContainer fullWidth'>
            {{#images}}
            <div class='projectImageWrapper'>
                <img class='projectImage {{ image }}' src='{{ path }}' alt=''>
            </div>
            {{/images}}
        </div>
    </section>
    <section class='horiz fullWidth'>
        <div class='projectText vert'>
            <span class='sectionTitle'>
                the brief
            </span>
            <span class='body'>
                {{ brief }}
            </span>
        </div>
        <div class='projectText vert'>
            <span class='sectionTitle'>
                the execution
            </span>
            <span class='body'>
                {{ execution }}
            </span>
            <br>
            <span class='body'>
                {{ execution2 }}
            </span>
        </div>
    </section>
</article>