<article class='vert fullHeight fullWidth'>
    <section class='horiz fullWidth'>
        <div class='vert minHalfHeight fullWidth'>
            <span class='projectTitle'>
                Project: {{ name }}
            </span>
            <div class='projectSummary fullWidth'>
                <div class='projectSubtitle projectIntro'>
                    {{ intro }}
                </div>
                <div class='techContainer'>
                    {{#tech}}
                        <img class='thumbTechImage' src = '{{ . }}' alt=''>
                    {{/tech}}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class='projectImageContainer fullHeight fullWidth'>
            {{#images}}
            <div class='projectImageWrapper'>
                <img class='projectImage {{ image }}' src='{{ path }}' alt=''>
            </div>
            {{/images}}
        </div>
    </section>
    <section class='horiz halfPage fullWidth'>
        <div class='projectText vert fullHeight'>
            <span class='sectionTitle'>
                The brief
            </span>
            <span class='body'>
                {{ brief }}
            </span>
        </div>
        <div class='projectText vert fullHeight'>
            <span class='sectionTitle'>
                The execution
            </span>
            <span class='body'>
                {{ execution }}
            </span>
        </div>
    </section>
</article>