<article class='vert fullHeight fullWidth'>
    <section class='horiz halfPage fullWidth'>
        <div class='vert minHalfHeight fullWidth'>
            <div class='vert minHalfHeight fullWidth'>
                <span class='projectTitle'>
                    Project: {{ name }}
                </span>
                <div class='projectSummary fullWidth'>
                    <div class='projectSubtitle projectIntro'>
                        {{ intro }}
                    </div>
                    <div class='techContainer'>
                        {{#tech}}
                            <img class='thumbTechImage' src = '{{ . }}' alt=''>
                        {{/tech}}
                    </div>
                </div>
            </div>
            <div class='projectImageContainer minHalfHeight fullWidth'>
                {{#images}}
                <div class='projectImageWrapper'>
                    <img class='projectImage {{ image }}' src='{{ path }}' alt=''>
                </div>
                {{/images}}
            </div>
        </div>
    </section>
    <section class='horiz minHalfHeight fullWidth'>
        <div class='vert minHalfHeight minHalfWidth'>
            <span class='vert fullwidth'>
                <span class='sectionTitle'>
                    The brief
                </span>
                <span class='body fullWidth'>
                    {{ brief }}
                </span>
            </span>
        </div>
        <div class='vert minHalfHeight minHalfWidth'>
            <span class='vert fullwidth'>
                <span class='sectionTitle'>
                    The execution
                </span>
                <span class='body fullWidth'>
                    {{ execution }}
                </span>
            </span>
        </div>
    </section>
</article>